@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(148, 176, 218);
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

body,
html {
    padding: 0;
    margin: 0;
}

svg {
    height: 150px;
    width: auto;
    animation: introexit 1.2s 1.2s ease forwards;
}

.cls-1 {
    stroke-dasharray: 762.3447265625;
    stroke-dashoffset: 762.3447265625;
    animation: dash 1s cubic-bezier(.77, .61, .49, .99) forwards;
}

#gradient {
    opacity: 0;
    animation: fadein 0.2s 1s linear forwards;
}

@keyframes introexitbg {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes introexit {
    0% {
        transform: scale(100%);
        opacity: 1;
    }
    30% {
        transform: scale(90%);
        opacity: 1;
    }
    60% {
        transform: scale(90%);
        opacity: 1;
    }
    100% {
        transform: scale(400%);
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 762.3447265625;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#intro {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: introexitbg 1.2s 1.2s ease forwards;
    z-index: 999;
    top: 0;
    left: 0;
}

body {
    background-color: #1b2838;
    color: white;
}

#header {
    background-color: black;
    padding: 15px;
}

#current-time {
    float: right;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    width: 20%;
}

#sidebar * {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 400;
    background-color: inherit;
    transition: all 200ms;
    color: inherit;
    cursor: pointer;
}

#sidebar *:hover {
    background-color: darkgray;
    color: white;
}

#sidebar {
    display: none;
}

@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    ;
    to {
        transform: translateX(0%);
    }
    ;
}

#top-half {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: #2a475e;
    height: 30vh;
}

#top-half p {
    margin-left: 10px;
    font-size: 20px;
}

/* top cards */
.wide-card, .card {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid rgb(112, 112, 112);
    background-color: #6588a3;
    filter: drop-shadow(5px 5px 1px #505a88);
    transition: all 100ms ease-out;
    padding: 8px;
}

.wide-card:hover {
    outline: 3px solid white;
}

.card:hover {
    outline: 3px solid white;
}

.card {
    width: 10%;
    height: 80%;
    margin: 10px;
}

.wide-card {
    width: 30%;
    height: 80%;
    margin: 10px;
}



#sitemap {
    display: block;
    margin: 0 auto;
}
#sitemap * {
    color: white;
}

.pic-cont {
    margin: 20px;
    display:block;
    float: left;
    width: auto;
    text-decoration: none;

}
.preview {
    width: 297px;
    height: auto;
    border-radius: 5px;
    transition: all 100ms ease-out;
}

.preview:hover {
    outline: 3px solid white
}

.preview-title,.preview-desc {
    margin:5px 0;
}
.preview-title {font-weight: 400;}
h1 {
    padding-left: 20px;
    font-weight: 400;
}