/* kyle i'll leave the styling up to you */

/* this stylesheet is linked to static_cart.html and cart.html.
static_cart.html = table populated with data so you can test styles.
SO BASICALLY, PREVIEW.
cart.html = table with javascript that uses data from user
NOT PREFERABLE.

When styling, preview static_cart basically*/
table, th, td {
    background-color: rgb(230, 255, 255);
    border: 1px solid black;
    border-collapse: separate;
    padding: 7px;
  }

th, td {
    margin: 10px;
    text-transform: capitalize;
    font-weight: 400;
}

table {
    border-radius: 10px;
}

table tbody tr:first-child {
    font-size: 22px;
}

table tbody tr td:last-child {
    width: 20%;
}

td {
    width: 0;
}