body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
  }
  
  input[type=text], input[type=email], input[type=number] {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=date] {
    margin-bottom: 20px;
    width: 20%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .credit-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .credit-card input[type=number] {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .credit-card input[type=month] {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .credit-card input[type=number]:last-of-type {
    width: 20%;
  }
  
  .credit-card label {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 600px) {
    input[type=date], .credit-card input[type=number], .credit-card input[type=month], .credit-card input[type=number]:last-of-type {
      width: 100%;
      margin-bottom: 10px;
    }
  }



 @media (min-width:481px){
 
  /* Details explainer */
  #details_explainer{
   width:654px;
  }
  
 }

 label, input {
  display: inline-block;
 }
 
/* Name inputs */
 .name {
  margin: auto;
 }

 #mname {
  width: 20%;
 }

 #fname {
  width: 30%;
 }
  
 #lname {
  width: 35%;
 }

 #suffix {
  width: 10%;
 }



 
 #birth {
  width: 100%;
 }

 .formdivide {
  display: inline-block;
  margin-left: 40px;
  width: 40%;
}