#container h1 {
  font-weight: medium;
}

input, select {
  padding: 12pt;
  margin: 0 5px;
  border-radius: 0;
  border: 3px solid black;
  font-size: medium;
}
#details_explainer {
  width: 700px;
  margin: 0 50px;
  background-color: white;
}
input[name="first_name"] {
  width: 30%;
}
input[name="middle_initial"] {
  width: 14%;
}
input[name="last_name"] {
  width: 15%;
}
input[name="suffix"] {
  width: 5.5%;
}

label {
  padding-top: 20px;
  padding-bottom: 5px;
  display: inline-block;
}
input[name="address"] {
  width: 64.5%;
}
input[name="zip_code"] {
  width: 12.5s%;
}