#container h1 {
  font-weight: medium;
}

input, select {
  padding: 12pt;
  margin: 0 5px;
  border-radius: 0;
  border: 3px solid black;
  font-size: medium;
}
#details_explainer {
  width: 700px;
  margin: 30px auto;
  background-color: white;
}
input[name="first_name"] {
  width: 30%;
}
input[name="middle_initial"] {
  width: 14%;
}
input[name="last_name"] {
  width: 15%;
}
input[name="suffix"] {
  width: 5.5%;
}

label {
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 10px 70px auto 10px;
}
input[name="address"] {
  width: 64.5%;
}
input[name="zip_code"] {
  width: 12.5%;
}

.fields {
  display: inline-block;
}

input[name="dob"] {
  width: 67%;
}

input[name="gender"] {
  width: 17%;
}

input[name="email"] {
  width: 80%;
}

#emailfield {
  width: 50%;
}

input[type="submit"] {
  background-color: aliceblue;
  transition: all 100ms;
}

input[type="submit"]:hover {
  background-color: rgb(170, 215, 255);
}