/* An initialization of fonts, proper margin, and etc. */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(148, 176, 218);
}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

/* navbar setup */

#navbar {
    position: sticky;
    top: 0px;
    padding: 40px;
    background-color: rgb(220, 237, 255);
    z-index: 99;
}

#navbar #actions span {
    margin: 0px 10px;
}

#navbar h1,
#logo {
    margin: -16px;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
    float: left;
}

#navbar #actions {
    float: right;
    margin: -10px;
}

#booknow {
    background-color: rgb(231, 97, 63);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: background-color 200ms;
}

#booknow:hover {
    background-color: rgb(255, 129, 60);
}

#booknow:active {
    background-color: rgb(117, 54, 29);
}

@media only screen and (max-width: 600px) {
    #navbar h1 {
        display: block;
        float: none;
        text-align: center;
    }
    #navbar #actions {
        display: block;
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    transition: all 200ms;
}

a:hover {
    text-decoration: underline;
    outline: 0;
}


/* css declarations for main bg */

#bg {
    background-image: url("https://c0.wallpaperflare.com/path/924/673/261/philippines-tagaytay-nature-horizon-070722549fa602a175b870f9255a2cbb.jpg");
    background-position: 0 85%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
}


/* tagaytay, visit tagaytay now, and content inside front page */

#content {
    text-align: center;
}

#content #bottomtext {
    font-size: 60px;
}

#content h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 120px;
    color: darkblue;
}

#content form button, .custombutton {
    margin: 20px 0;
    font-size: 40px;
    color: white;
    border: none;
    background-color: red;
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 10px 10px 52px -22px rgba(0, 0, 0, 0.44);
    transition: background-color 100ms, transform 200ms;
}

#content button:hover, .custombutton:hover {
    background-color: rgb(255, 72, 72);
    transform: scale(1.2);
}

#content button:active, .custombutton:active {
    background-color: rgb(123, 0, 0);
    transform: scale(0.7);
}


/* historical info in tagaytay */

#details {
    width: 1050px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(220, 237, 255);
    overflow: hidden;
    box-shadow: 10px 10px 52px -22px rgba(0, 0, 0, 0.44);
    animation: fadeup 0.5s;
    transition: all 200ms;
}

#details #side1 {
    float: left;
    width: 50%;
}

#details #side2 img {
    width: 45%;
    float: right;
}


/*SPECIFIC FOR EXPLAINER PAGES*/

#details_explainer {
    width: 1050px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(220, 237, 255);
    overflow: hidden;
    box-shadow: 10px 10px 52px -22px rgba(0, 0, 0, 0.44);
    animation: fadeup 0.5s;
    transition: all 200ms;
}

#details_explainer h2 {
    font-size: 35pt;
}

#details_explainer h3 {
    font-size: 25pt;
}

#details_explainer p {
    font-size: 15pt;
}

#textual_part {
    padding: 0 150px;
}

@media only screen and (max-width: 480px) {
    #textual_part {
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) {
    #details #side1 {
        width: 100%;
    }
    #details {
        width: 100vw;
    }
    #details #side2 img {
        width: 80vw;
        margin: 0px auto;
        float: none;
        display: block;
    }
}


/* footer declarations */

#footer {
    font-size: 7.5pt;
    display: block;
    padding: 5px 100px;
    padding-top: 20px;
    background-color: white;
}

#links {
    padding-top: 10px;
    text-align: center;
}

#footer #links a {
    font-size: 12pt;
    display: inline-block;
    padding: 2px 50px;
    color: black;
}

#heightadj {
    height: 0px;
}

@media only screen and (max-width: 480px) {
    #bg {
        width: 100vw;
        margin: 0;
        padding: 0;
        padding-top: 50px;
    }
    #footer {
        width: 100vw;
        padding: 0;
        margin: 0;
        padding-bottom: 30px;
    }
    #details {
        width: 100%;
        float: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    #details_explainer {
        width: 100%;
        float: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    #details_explainer #textual_part {
        width: 100%;
        float: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    #footer #links a {
        padding: 0 10px;
    }
    #heightadj {
        height: 50px;
    }
}


/* custom animation */

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#details:hover {
    box-shadow: 10px 10px 75px -22px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}


/* extra bits */

.quote {
    font-size: 35pt;
}


/* profile cards */

#profile-card-container {
    width: 100%;
    display: flex;
}

.profile-card {
    width: 25%;
    background-color: lightgreen;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    transition: all 200ms;
    margin: 5px 10px;
}

.profile-card:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

.profile-card img {
    width: 100%;
    height: auto;
}

.profile-card * {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    #profile-card-container {
        width: 100%;
        display: block;
    }
    .profile-card {
        width: 100%;
        float: none;
        display: block;
    }
}


/* gallery css content */

.pics {
    width: 50%;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    overflow: hidden;
    transition: all 200ms;
}

.pics:hover {
    transform: scale(1.1);
    border: 1px black solid;
    background-color: black;
}

.pics img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 480px) {
    .pics {
        width: 100%;
    }
}


/* contact info */

.clclick {
    display: inline-block;
}

.contact-links {
    width: 100%;
    transition: all 200ms;
    display: block;
    padding: 10px 0;
}

.contact-links * {
    display: block;
}

.contact-links img {
    width: 20px;
    padding-right: 10px;
    float: left;
}

.contact-links #contactinfo {
    font-size: 20pt;
    display: inline-block;
}

.contact-links .content {
    display: inline-block;
    background-color: black;
    padding: 10px;
    color: white;
    transition: all 200ms;
}

.contact-links .content:hover {
    display: inline-block;
    background-color: white;
    padding: 10px;
    color: black;
}


/* reviews */

.review {
    width: 99%;
    background-color: rgb(0, 255, 132);
    margin: 20px 0;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}

.review img {
    width: 200px;
    float: left;
    border-radius: 200px;
    margin-right: 50px;
}

#next {
    float: right;
    transform: translateX(0px);
    transition: all 200ms;
}

#next span {
    height: 100%;
    font-size: 3em;
    margin: 0;
}

#next:hover {
    transform: translateX(10px);
    background-color: rgb(144, 238, 144, 0.8);
}

#next img {
    transform: translateX(0px);
    transition: all 200ms;
}

#next:hover img {
    transform: translateX(10px);
}

.decopics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 5px;
}


/* user reviews, thanks kyle*/

.user-review,
.name {
    position: inline;
    padding-left: 100px;
    margin-left: 110px;
}

.user-review {
    font-size: 18pt;
}


/* last min changes */

body {
    background-image: url("https://drive.google.com/uc?id=1YjyxQ7kwNorj05onLYp6-_YTsxuVEj00");
    background-size: cover;
    background-attachment: fixed;
    
}

#min-width-hack {
    min-height: 85vh;
}

#navbar #actions form {
    display: inline;
}

table {
    width: 100%;

}
table, tr, td,th {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    width: 33.33%;
}
/* booking endpoint */

#thanks {
    text-align: center;
}

#thanks h1 {
    font-size: 8em;
    font-weight: bold;
}

#thanks h2 {
    font-size: 5em;
    font-weight: 300;
}

#thanks p {
    font-size: 2.5em;
}

#thanks div div.visit-these {
    display: block;
    float: left;
    height: 100px;
    width: 33.33%;;
    display:flex;
    justify-content:center;
    align-items:center; 
    background-color: lightgreen;
    font-size: 2EM;
    transform: scale(1);
    transition: all 200ms;
}

#thanks div div.visit-these:hover {
    transform: scale(1.1);
}

#thanks div div.visit-these a {
    display: block;
    width: 33.33%;
}

.places, .food {
    margin-left:auto;
    margin-right:auto; 
    width: 75%;
    display: block;
}

#footer {
    height: 100px;
}
#footer #logo {
    height: 100%;
    width: 20%;
    margin: 0;
    text-align: center;
}
#footer #logo {
    font-size: 10pt;
    text-shadow: none;
    color: black;
}
#footer #logo img {
    height: 30px;
}

@media only screen and (max-width: 480px) {
    #footer {
        height: auto;
    }
    #footer #logo {
        display: block;
        float: none;
        width: 40%;
        margin: 0 auto;
    }
    #footer #links {
        display: block;
        float: none;
        width: 100%;
    }
    #footer #links a {
        display: block;
    }
}

.modal-content {
    border-radius: 10px;
}
.rightalign {
    text-align: right;
}
#total {
    font-weight: 400;
    font-size: 32px;
}