@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    height: 100%;
}
#navbar {
    margin-bottom: 0;
    position: sticky;
    padding: 30px;
    top: 0;
    background: transparent;
}

#navbar #actions span {
    margin: 0px 10px 0px;
}

#navbar h1, #logo {
    margin: 0;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
    float: left;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}
#navbar #actions {
    float: right;
}
button {
    font-family: 'Josefin Sans';
}

#booknow {
    background-color: rgb(231, 97, 63);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: background-color 200ms;
}

#booknow:hover {
    background-color: rgb(255, 129, 60);
}

#booknow:active {
    background-color: rgb(117, 54, 29);
}

@media only screen and (max-width: 600px) {
    #navbar h1 {
        display: block;
        float: none;
        text-align:center;
    }
    #navbar #actions {
        display: block;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
  }
#bg {
    background-image: url("https://c0.wallpaperflare.com/path/924/673/261/philippines-tagaytay-nature-horizon-070722549fa602a175b870f9255a2cbb.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#content  {
    text-align: center;

}
#content #bottomtext {
    font-size: 60px;
}
#content h2 {
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 120px;
    color: white;
    text-shadow: 3px 3px pink;
}

#content button {
    margin: 20px 0;
    font-size: 40px;
    color: white;
    border: none;
    background-color: red;
    padding: 20px 40px;
    border-radius: 50px;
    transition: background-color 100ms;
}

#content button:hover {
    background-color: rgb(255, 72, 72);
}

#content button:active {
    background-color: rgb(123, 0, 0);
}

#details {
    width: 1000px;
    margin: 50px auto;
}

#details #side1 {
    width: 45%;
    margin: 10px;
    float: left;
}
#details #side1 div {
    white-space: pre;
}
#details #side2 {
    width: 45%;
    margin: 10px;
    float: left;
}
#details #side2 img {
    /* daisuki onii chan */
    margin: 10px;
    width: 100%;
    float: left;
}